In [2]:
a = 3 #정수형
b = 5.6 #실수형
c = a + b #사칙연산
print(c)

8.6

In [12]:
a = 3
b = 3
c = a ** b #제곱 기호
print(c)

27

In [13]:
a = 10
b = 4
c = a % b #나머지 값
print(c)
d = a / b #나눈 값
print(d)
e = a // b #몫 값
print(e)

2
2.5
2

In [4]:
a = 0o177 #8진수
b = 0xabc #16진수
print(a)
print(b)

127
2748

In [9]:
a = "Life is too short, You need Python." #문자열
print(a)
a = 'Life is too short, You need Python.'
print(a)
a = """Life is too short, You need Python."""
print(a)
a = '''Life is too short, You need Python.'''
print(a)

Life is too short, You need Python.
Life is too short, You need Python.
Life is too short, You need Python.
Life is too short, You need Python.

In [11]:
a = "Python's favorite food is perl."
print(a)
a = '"Python" is super easy.'
print(a)

Python's favorite food is perl.
"Python" is super easy.

In [15]:
a = "Life is too short.\nYou need Python."
print(a)

Life is too short.
You need Python.

In [20]:
a = '''Life is too short.
You need Python.''' #따옴표 세 번에서 줄바꿈
print(a)

Life is too short.
You need Python.

In [22]:
a = "Life is too short.\tYou need Python." #\t는 탭
print(a)

Life is too short.	You need Python

In [23]:
a = "Life is too short.\\You need Python." #\쓸 땐 \\
print(a)

Life is too short.\You need Python.

In [25]:
head = "Python"
body = " "
tail = "is fun!"
print(head+body+tail)

Python is fun!

In [26]:
a = "Python"
b = a * 2
print(b)

PythonPython

In [27]:
a = "Life is too short"
print(a)
len(a) #글자 수

Life is too short

17

In [36]:
a = "Life is too short, You need Python"
a[0]+a[-5]

'Ly'

In [47]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

In [48]:
a = "20210628Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20210628
Sunny

In [1]:
"I eat %d apples." %3

'I eat 3 apples.'

In [3]:
"I eat %s apples." %"five"

'I eat five apples.'

In [4]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [7]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." %(number,day)

'I ate 10 apples, so I was sick for three days.'

In [8]:
number = 10
day = "three"
time = "six"
"I ate %d apples, so I was sick for %s days which were %s hours." %(number,day,time)

'I ate 10 apples, so I was sick for three days which were six hours.'

In [9]:
"Error is %d%%." %98

'Error is 98%.'

In [10]:
"%10s" %"hi"

'        hi'

In [11]:
"%-10sjane" %"hi"

'hi        jane'

In [12]:
"%0.4f" %3.42134234

'3.4213'

In [16]:
#format 함수 포매팅

a = "I eat {0} apples"
a.format(3)

'I eat 3 apples'

In [19]:
"I eat {0} apples and {1} bananas".format("five","six")

'I eat five apples and six bananas'

In [20]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [21]:
number = "three"
"I eat {0} apples".format(number)

'I eat three apples'

In [23]:
a = "I ate {number} apples, so I was sick for {day} days."
a.format(number=10, day=3)

'I ate 10 apples, so I was sick for 3 days.'

In [2]:
a = "I ate {0} apples, so I was sick for {day} days and {1} hours"
a.format("five","ten",day = "eleven")

'I ate five apples, so I was sick for eleven days and ten hours'

In [8]:
a = "{0:<10}" #왼쪽 정렬
a = a.format("hi")
print(a)

b = "{0:>10}" #오른쪽 정렬
b = b.format("hi")
print(b)

c = "{0:^10}" #가운데 정렬
c = c.format("hi")
print(c)

hi
        hi
    hi

In [9]:
#공백 채우기

a = "{0:-<10}"
a = a.format("hi")
print(a)

b = "{0:!>10}"
b = b.format("hi")
print(b)

c = "{0::^10}"
c = c.format("hi")
print(c)

hi--------
!!!!!!!!hi
::::hi::::

In [14]:
y = 3.14159265358979
z = "대략 {0:10.4f}"
z.format(y)

'대략     3.1416'

In [15]:
a = "{{and}} they are {{interesting}}"
a.format()

'{and} they are {interesting}'

In [30]:
#f 문자열 포매팅

name = "신승호"
age = "20"
a = f"My name is {name} and I'm {age}."
print(a)

eng_name = "Jason"
eng_age = 18
b = f"My name is {eng_name} and I'm {eng_age+1}"
print(b)

My name is 신승호 and I'm 20.
My name is Jason and I'm 19

In [32]:
#문자 개수 세기

a = "hobby"
a.count("b")

2

In [36]:
#글자 위치 찾기(find)

a = "Valar Morghulis Valar Dohaeris"
print(a.find("M"))
print(a.find("k"))

6
-1

In [124]:
#글자 위치 찾기(index)

a = "Valar Morghulis Valar Dohaeris"
print(a.index("M"))
#print(a.index("k"))

6

In [45]:
#문자열 삽입

comma = ","

a = "수우미양가"
print(comma.join(a))

b = ["lundi","mardi","mercredi","jeudi"]
print(comma.join(b))

수,우,미,양,가
lundi,mardi,mercredi,jeudi

In [47]:
#대소문자 바꾸기

a = "fuck OFF"
print(a.upper())

b = "piss OFF"
print(b.lower())

FUCK OFF
piss off

In [85]:
#공백 지우기

a = "    blep    "
print(a.lstrip())

b = "    blep    "
print(b.rstrip())

c = "    blep    "
print(c.strip())

blep
    blep
blep

In [86]:
#문자열 바꾸기

a = "I hate her."
print(a)
print(a.replace(" hate","'d fuck"))

I hate her.
I'd fuck her.

In [56]:
#문자열 나누기

a = "Remember me. Try your best. Maybe we can."
print(a.split())

b = "Желание, Ржавый, Семнадцать, Рассвет, Печь, Девять, Добросердечный, Возвращение на родину, Один, Товарный вагон"
print(b.split(", "))

['Remember', 'me.', 'Try', 'your', 'best.', 'Maybe', 'we', 'can.']
['Желание', 'Ржавый', 'Семнадцать', 'Рассвет', 'Печь', 'Девять', 'Добросердечный', 'Возвращение на родину', 'Один', 'Товарный вагон']

In [59]:
# 리스트 인덱싱

prime = [2,3,5,7,11]
print(prime[2])
print(prime[0]+prime[-1])

5
13

In [61]:
a = [1,2,3,["a","b","c"]]
print(a[0])
print(a[3])
print(a[3][1])

1
['a', 'b', 'c']
b

In [72]:
# 리스트 슬라이싱

a = [1,2,3,4,5]
print(a[1:4])

b = [1,2,[3,4,5],6,7]
print(b[:3])

[2, 3, 4]
[1, 2, [3, 4, 5]]

In [75]:
# 리스트 연산

a = [1,2,3]
b = [4,5,6]
c = a + b # 리스트 더하기
print(c)

a = [1,2,3]
a = a * 2 # 리스트 반복하기
print(a)

a = [1,2,3,456] # 리스트 길이 구하기
print(len(a))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
4

In [84]:
# 리스트 수정 및 삭제

a = [1,2,3]
a[2] = 4
print(a)

b = [1,2,3]
b[1:3] = [4,5]
print(b)

c = [1,2,3]
del c[1]
print(c)

d = [1,2,3]
del d[:2]
print(d)

[1, 2, 4]
[1, 4, 5]
[1, 3]
[3]

In [123]:
#리스트 관련 함수

a = [1,2,3]
a.append(4)
print(a)

b = [1,2,3]
b.append("these are numbers")
print(b)

c = [1,2,3]
c.append([4,5,6])
print(c)

d = [1,5,6,3,2,78,3,100]
d.sort()
print(d)

e = ["a","b","cd","dvd","cassette","blue-ray","vhs","vcr"]
e.sort()
print(e)

f = ["red",2,56,"blue",3]
f.reverse()
print(f)

#g = ["a","b","cd","dvd","cassette","blue-ray","vhs","vcr"]
#g.index("vhs")
#g.index("betamax")

h = [1,2,3]
h.insert(1,1.5)
print(h)

i = [1,2,3,1,2,3]
i.remove(3)
print(i)

j = [1,2,3]
print(j.pop(1)) # pop 함수는 삭제할 자료를 한번 돌려주고 리스트에서 삭제한다.
print(j)

k = [1,2,3,4,1]
print(k.count(1))

l = [1,2,3]
l.extend([4,5])
print(l)

m = [6,7]
l.extend(m)
print(l)

l += [8,9,10]
print(l)

[1, 2, 3, 4]
[1, 2, 3, 'these are numbers']
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 3, 5, 6, 78, 100]
['a', 'b', 'blue-ray', 'cassette', 'cd', 'dvd', 'vcr', 'vhs']
[3, 'blue', 56, 2, 'red']
[1, 1.5, 2, 3]
[1, 2, 1, 2, 3]
2
[1, 3]
2
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 1.5, 2, 3]
[1, 2, 1, 2, 3]
2
[1, 3]

2